<footer class="footer">
    <div class="container">
        <nav class="nav">
            <div class="logo">
                <a href="index.html"><img alt="" src="img/Logo.png"></a>
            </div>
            <ul>
                <li><a href="#data" class="go-to">How it works</a></li>
                <li><a href="#about" class="go-to">About us</a></li>
                <li><a href="documents.html">Documentation</a></li>
                <li><a href="#form" class="go-to">Contact us</a></li>
            </ul>
        </nav>
        <div class="socials">
            <a href="#" target="_blank" class="twiter"></a>
            <a href="#" target="_blank" class="insta"></a>
            <a href="#" target="_blank" class="facebook"></a>
        </div>
        <div class="footer-bottom">
            <p>©2020 CARMA chain. All rights Reserved</p>
        </div>
    </div>
</footer>