<section class="section section-form" id="form">
  <div class="container">
    <div class="section-content">
      <div class="item-left">
        <h5>Contact us</h5>
        <h2>Get in touch</h2>
        <p>Send us a message or ask
          a question and we will get back
          to you shortly.</p>
      </div>
      <!-- Форма десктоп-->
      <form class="form">
        <div class="form-row">
          <div class="form-column">
            <span class="confirmed"></span>
            <!-- за включение иконки успешной проверки отвечает класс .active -->
            <span class="errore active"></span>
            <!-- за включение иконки ошибки отвечает класс .active -->
            <input required type="text" placeholder="Your name">
          </div>
          <div class="form-column">
            <span class="confirmed active"></span>
            <!-- за включение иконки успешной проверки отвечает класс .active -->
            <span class="errore"></span>
            <!-- за включение иконки ошибки отвечает класс .active -->
            <input required type="text" placeholder="Email address">
          </div>
          <div class="form-column">
            <span class="confirmed"></span>
            <!-- за включение иконки успешной проверки отвечает класс .active -->
            <span class="errore "></span>
            <!-- за включение иконки ошибки отвечает класс .active -->
            <input required type="text" class="only_number" placeholder="Phone number (optional)">
          </div>
          <div class="form-column textarea">
            <textarea placeholder="Message"></textarea>
          </div>
          <div class="form-action">
            <button class="btn">Send</button>
          </div>
        </div>
      </form>
      <!-- Форма конец-->
    </div>
</section>