<div class="menu-mobile">
    <span class="close-menu"></span>
    <nav>
        <ul>
            <li><a href="index.html#data" class="go-to">How it works</a></li>
            <li><a href="index.html#about" class="go-to">About us</a></li>
            <li><a href="documents.html">Documentation</a></li>
            <li><a href="index.html#form" class="btn go-to">Contact us</a></li>
        </ul>
    </nav>
</div>

<header class="header" id="header">
    <div class="container">
        <nav class="nav">
            <div class="logo">
                <a href="index.html"><img alt="" src="img/Logo.png"></a>
            </div>
            <span class="open-menu">
                <span></span>
            </span>
            <ul class="desctop-menu">
                <li><a href="index.html#data" class="go-to">How it works</a></li>
                <li><a href="index.html#about" class="go-to">About us</a></li>
                <li><a href="documents.html">Documentation</a></li>
                <li><a href="index.html#form" class="btn go-to">Contact us</a></li>
            </ul>
        </nav>
    </div>
</header>