<!-- Любой попап вызываеться при нажатии на кнопку с названием без приставки modall( politic,thank) -->

<div class="modall modall-politic">
    <div class="modall-body">
        <span class="close"></span>
        <h2>Политика Конфиденциальности</h2>
        <div class="politics-body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore
                et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                maecenas
                accumsan lacus vel facilisis.
            </p>
            <h3>Quis ipsum suspendisse</h3>
            <ul>
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
            </ul>
            <h3>Quis ipsum suspendisse</h3>
            <ol type="1">
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
            </ol>
            <ol type="1">
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="modall modall-thank">
    <div class="modall-body">
        <span class="close"></span>
        <div class="content">
            <h2>Спасибо за заявку!</h2>
            <p>Наши менеджеры свяжутся с вами в скором времени для уточнения деталей заказа.</p>
        </div>
    </div>
</div>