<div class="modall modall-video">
    <div class="modall-body">
        <span class="close"></span>
        <div class="content">
            <div class="video">
                <img id="video-cover2" src="img/Video.png" alt="Video title">
                <iframe id="playerPopoup" data-youtube="https://www.youtube.com/embed/7sbbb7Dt3D8?autoplay=1" src=""
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <button id="play2" class="play-btn">
                </button>
            </div>
        </div>
    </div>
</div>