<div class="modall modall-video">
    <div class="modall-body">
        <span class="close"></span>
        <div class="content">
            <div class="video">
                <img id="video-cover" src="img/Video.png" alt="Video title">
                <iframe id="player" src="https://www.youtube.com/embed/7sbbb7Dt3D8" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <button id="play" class="play-btn">
                </button>
            </div>
        </div>
    </div>
</div>